**/log/*
**/webapp/**/*
!**/log/.gitkeep
!**/webapp/.gitkeep
.env
.idea
**/*.env
*.iws
*.ipr
*.iml
*.merge*
catalog.xml
target
core-war/overlays
.settings
.classpath
.project
.idea
.sonar-ide.properties
nbactions.xml
nb-configuration.xml
nbactions.xml
